<div class="row">
  <div class="col-sm-8">
      <div class="card">

        <div class="card-block">
          <h4 class="card-title">

    <!-- if recipient id == current_user, then it's link_to messages#show --> 
      <% if message.recipient_id == current_user.id && message.read_at == nil %>
          <%= link_to message.title, user_message_path(id: message.id) %>
          <% else %>
          <%= message.title %>
          <% end %> 
<!-- ^^ supposed to go to messages/id where id = message_id-->
          </h4>
          <p class="card-text">
            <% if message.read_at == nil %>
            <strong><%= message.body %> </strong>
          </p>
            <% else %>
            <%= message.body %>
             <% end %>
        </div>
           

        <div class="card-footer">
          <% if message.recipient_id == current_user.id %> 
            From: <%= message.sender.name %> 
          <% else %>
            To: <%= message.recipient.name %>
          <% end %>


          Read at: <% if message.read_at == nil %>
          <strong> unread </strong>
          <% else %>
          <%= message.read_at %>
          <% end %>

        </div>
      </div>
  </div>
</div>