
<div class="row">
	<div class="col-sm-8">
		<div class="card">
			<div class="card-block">
				<% @messages.each do |message| %>
					<h4 class="card-title">
						<%= message.sender.id %>: 
		        <%= message.title %>
		      </h4>
					<div class="message">
						<div class="card-text">
							<%= message.body %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


<%= link_to "New Message", new_user_message_path %>
<a href="">"Sent Messages"</a>
<%= link_to "Add friend", users_path %>
<%= link_to 'View friends', friendships_path, class: "nav-item btn btn-primary" %>
