
<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
	<strong>Sender:</strong>
	<%= @message.sender.name %>

	<strong>Recipient:</strong> <%= @message.recipient.name %>
	</p>



<%= link_to 'Back to Messages', received_user_messages_path, class: "btn btn-secondary" %>