<div class="container">
<div class="col-sm-3">
<h1><%= "Welcome #{current_user.name}!" %></h1>

<%= link_to 'Messages', user_messages_path(:id), class: "nav-item btn btn-primary" %>
</div>

  <div class="col-sm-6">
    <strong>Name:</strong>
    <%= @user.name %>

    <p>
    <strong>Email:</strong>
    <%= @user.email %>
    </p>
  </div>

<div class="col-sm-6">
<h3>Friends</h3>

<table class="table col-sm-4">
  <thead class="thead-inverse">
    <tr>
      <th>Friendship ID</th>
      <th>Friend Id</th>
      <th>Name</th>
      <th>Email</th>

      <th> </th>
    </tr>
  </thead>
  <tbody>
  <% for friendship in @user.friendships %>
  <tr>
    <td><%=h friendship.id %></td>
    <td><%=h friendship.friend.id %></td>
    <td><%=h friendship.friend.name %></td>
    <td><%=h friendship.friend.email %></td>
    <td>(<%= link_to "remove", friendship_path(friendship), :method => :delete, data: { confirm: 'Are you sure?' }  %>)</td>
  </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Find friends', users_path, class: "nav-item btn btn-primary" %>

<%= link_to 'View friends', friendships_path, class: "nav-item btn btn-primary" %>
</div>



<div class="col-sm-4">
<h3>Friended by Users</h3>

<table class="table col-sm-4">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% for user in @user.inverse_friends %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
  </tr>
  <% end %>
  </tbody>
</table>




</div>

