<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if current_user %>
    	<div class="alert alert-info">
    		Welcome, <%= current_user.name %>
    	</div>
    <% end %>
    
  	<% if flash.any? %>
  		<% flash.each do |key, value| %>
  			<div class="alert <%= flash_class_name(key) %>">
  				<%= value %>
  			</div>
  		<% end %>

  	<% end %>
  	<div class="container">
	    <%= yield %>
	  </div>
  </body>
</html>
